// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    shared {

        bind "Alt c" { NewPane; }
        bind "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt Down" { MoveFocus "Down"; }
        bind "Alt Up" { MoveFocus "Up"; }
        bind "Alt m" { ToggleFocusFullscreen; }
        bind "Alt ;" { ToggleFloatingPanes; }
        bind "Alt '" { TogglePaneEmbedOrFloating; }
        bind "PageUp" { HalfPageScrollUp; }
        bind "PageDown" { HalfPageScrollDown; }
//        bind "Alt [" { PreviousSwapLayout; }
//        bind "Alt ]" { NextSwapLayout; }

        bind "Alt \\" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij_forgot.wasm" {
//              Shared
                "Shared: create new pane"          "Alt c"
                "Shared: move focus or tab left"   "Alt left"
                "Shared: move focus or tab right"  "Alt right"
                "Shared: move focus down"          "Alt down"
                "Shared: move focus up"            "Alt up"
                "Shared: toggle focus full screen"    "Alt m"
                "Shared: toggle floating panes"    "Alt ;"
                "Shared: halfpages scroll up"      "PageUp"
                "Shared: halfpages scroll down"    "PageDown"

//              Move mode
                "switch to Move mode"        "Ctrl h"
                "Move: move pane to right"   "l"
                "Move: move pane to bottom"  "j"
                "Move: move pane to left"    "h"
                "Move: move pane to top"     "k"

//              Resize mode
                "switch to Resize mode"           "Ctrl n"
                "Resize: increase (left/right/down/up)" "h/l/j/k"
                "Resize: decrease (left/right/down/up)" "H/L/J/K"
                "Resize: general increase"        "+"
                "Resize: general decrease"        "-"

//              Pane mode
                "switch to Pane mode"                "Ctrl p"
                "Pane: move focus (left/right/down/up)"  "h/l/j/k"
                "Pane: switch focus"                 "p"
                "Pane: new pane"                     "n"
                "Pane: new pane below"               "d"
                "Pane: new pane to the right"        "r"
                "Pane: close focused pane"           "x"
                "Pane: toggle fullscreen for focus"  "f"
                "Pane: toggle pane frames"           "z"
                "Pane: toggle floating panes"        "w"
                "Pane: toggle pane embed/floating"   "e"
                "switch to RenamePane mode"          "c"

//              Tab mode
                "switch to Tab mode"             "Ctrl t"
                "switch to RenameTab mode"       "r"
                "Tab: go to previous tab"        "h, Left, Up, k"
                "Tab: go to next tab"            "l, Right, Down, j"
                "Tab: new tab"                   "n"
                "Tab: close current tab"         "x"
                "Tab: toggle active sync"        "s"
                "Tab: break pane"                "b"
                "Tab: break pane to the right"   "]"
                "Tab: break pane to the left"    "["
                "Tab: toggle tab"                "Tab"
                "Tab: go to specific tab"  "1, 2, 3, 4, 5, 6, 7, 8, 9"


//              Scroll mode
                "switch to Scroll mode"          "Ctrl s"
                "Scroll: switch to EnterSearch mode"     "s"
                "Scroll: edit scrollback"        "e"
                "Scroll: down"                   "j, Down"
                "Scroll: up"                     "k, Up"
                "Scroll: page down"              "Ctrl f, PageDown, Right, l"
                "Scroll: page up"                "Ctrl b, PageUp, Left, h"
                "Scroll: half page down"         "d"
                "Scroll: half page up"           "u"

//              Search mode
                "switch to Search mode"             "Ctrl s s"
                "Search: scroll down"               "j, Down"
                "Search: scroll up"                 "k, Up"
                "Search: page scroll down"          "Ctrl f, PageDown, Right, l"
                "Search: page scroll up"            "Ctrl b, PageUp, Left, h"
                "Search: half page scroll down"     "d"
                "Search: half page scroll up"       "u"
                "Search: next occurrence"           "n"
                "Search: previous occurrence"       "p"
                "Search: toggle case sensitivity"   "c"
                "Search: toggle wrap"               "w"
                "Search: toggle whole word"         "o"

//              Session mode
                "switch to Session mode"           "ctrl o"
                "Session: detach session"        "d"
                "Session: open session manager"  "w"

                "quit zellij"           "ctrl + q"
                floating true
            }
        }
    }
    shared_except "locked" {
        bind "Ctrl g" "Esc" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
    }

    shared_except "normal" "locked" {
        bind "Enter" { SwitchToMode "Normal"; }
    }
}




theme "tokyo-night-light"

default_mode "locked"
session_serialization true


