layout {
    tab name="Note" focus=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            cwd "~/projects/xvx/notes"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Neovim" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            cwd "~/.config/nvim"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Zsh" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            cwd "~/.oh-my-zsh/custom"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Zellij" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            cwd "~/.config/zellij"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Chezmoi" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            cwd "~/.local/share/chezmoi"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="PrivateSetup" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            cwd "~/.local/share/chezmoi/.private-setup"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
keybinds {
    shared {
        bind "Alt 1" { Run "git" "status"; }
        bind "Alt 2" { Run "git" "diff"; }
        bind "Alt 3" { Run "exa" "--color" "always"; }
    }
}
