layout {
    tab name="Note" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            command "git"
            args: "pull"
            cwd "~/projects/xvx/notes"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Neovim" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            command "nvim"
            args "init.lua"
            cwd "~/.config/nvim"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Zsh" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            cwd "~/.oh-my-zsh/custom"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Config" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            cwd "~/.config"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
