layout {
    tab name="Neovim" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            cwd "~/projects/xvx/tools"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
